{% extends 'base.html.twig' %}

{% block title %}Agence Immobil{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence Immobil</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card text-left">
                      <img class="card-img-top" src="holder.js/100px180/" alt="">
                      <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{ path('property.show', {id: property.id , slug: property.slug}) }}">{{ property.title }}</a>
                        </h4>
                        <p class="card-text">{{ property.city }} ({{ property.postaleCode }})</p>
                        <div class="text-primary">
                            {{ property.price | number_format(0, '', ' ') }} €
                        </div>
                        <div class="text-primary" style="font-weight: bold;font-size: 2rem;">
                            {{ property.formattedPrice }}
                        </div>
                      </div>
                    </div>
                </div>
                 
            {% endfor %}
        </div>
    </div> 
{% endblock %}
