{% extends 'base.html.twig' %}

{% block title %}{{ property.title }}{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% if not formContact.vars.valid %}
                <div class="alert alert-danger" role="alert">
                  <h4 class="alert-heading">Erreur</h4>
                  <p>Essayer une autre fois</p>
                </div>
            {% endif %}
            
            <div class="row">
                <div class="col-md-8">
                    <div data-slider>
                        {% if property.pictures is empty %}
                            <img src="{{ '/images/properties/empty.jpg' | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height:auto;">
                        {% else %}
                            {% for picture in property.pictures %}
                                <img src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height:auto;">
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    <h1>{{ property.title }}</h1>
                    <h2>{{ property.rooms }} piéces - {{ property.surface }} m²</h2>
                    <div class="text-primary" style="font-size: 4rem;font-weight: bold;">{{ property.formattedPrice }} </div>
                    <a href="#" class="btn btn-primary" id="contactButton" {% if formContact.vars.submitted %} style="display: none;" {% endif %}>Contacter l'agence</a>
                    <div id="contactForm" class="mt-4" {% if not formContact.vars.submitted %} style="display: none;" {% endif %}>
                        {{ form_start(formContact) }}
                            <div class="row">
                                <div class="col">
                                    {{ form_row(formContact.firstName) }}
                                </div>
                                <div class="col">
                                    {{ form_row(formContact.lastName) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form_row(formContact.phone) }}
                                </div>
                                <div class="col">
                                    {{ form_row(formContact.email) }}
                                </div>
                            </div>
                            {{ form_rest(formContact) }}
                            <div class="form-group">
                                <button class="btn btn-primary">Envoyer</button>
                            </div>
                        {{ form_end(formContact) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="container mt-4">
        <p>{{ property.description | nl2br }}</p> 
        <div class="row">
            <div class="col-md-8">
                <h2>Caractéristiques:</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{ property.title }}</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">Surface habitable</td>
                            <td>{{ property.surface }} m²</td>
                        </tr>
                        <tr>
                            <td scope="row">Piéces</td>
                            <td>{{ property.rooms }}</td>
                        </tr>
                        <tr>
                            <td scope="row">Chambres</td>
                            <td>{{ property.bedrooms }}</td>
                        </tr>
                        <tr>
                            <td scope="row">Étage</td>
                            <td>{{ property.floor }}</td>
                        </tr>
                        <tr>
                            <td scope="row">Chauffage</td>
                            <td>{{ property.heatType }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <h2>Spécificités:</h2>
                <ul class="list-group">
                    {% for option in property.options %}
                        <li class="list-group-item">{{ option.name }}</li>
                    {% endfor %}
                </ul>
            </div>  
        </div> 
        <div id="map" style="width: 100%; height: 400px" data-lat="{{ property.lat }}" data-lng="{{ property.lng }}"></div> 
    </div>
{% endblock %}
