{% extends 'base.html.twig' %}

{% block title %}Gérer les biens{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer le bien : {{ property.title }}</h1>
        <div class="col-md-4">
            {{ form_row(formProperty.title) }}
        </div>
        <div class="col-md-4">
            {{ form_row(formProperty.surface) }}
        </div>
        <div class="col-md-4">
            {{ form_row(formProperty.price) }}
        </div>

        <div class="row">
            <div class="col-md-2">
                {{ form_row(formProperty.rooms) }}
            </div>
            <div class="col-md-2">
                {{ form_row(formProperty.bedrooms) }}
            </div>
            <div class="col-md-2">
                {{ form_row(formProperty.heat) }}
            </div>
            <div class="col-md-2">
                {{ form_row(formProperty.floor) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                {{ form_row(formProperty.adresse) }}
            </div>
            <div class="col-md-2">
                {{ form_row(formProperty.city) }}
            </div>
            <div class="col-md-1">
                {{ form_row(formProperty.postale_code) }}
            </div>
            <div class="col-md-2">
                {{ form_row(formProperty.sold) }}
            </div>
        </div>



        {{ form_widget(formProperty) }}
        <div class="mt-3">
            <button class="btn btn-primary">Editer</button>
        </div>
        {{ form_end(formProperty) }}
    </div>
{% endblock %}
