{% extends 'base.html.twig' %}

{% block title %}Gérer les biens{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les biens</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for property in propertiesList %}
                <tr>
                    <td scope="row">{{ property.title }}</td>
                    <td>
                        <a class="btn btn-secondary" href="{{ path('admin.property.edit', {id : property.id}) }}" role="button">Editer</a>
                        <form method="POST" action="{{ path('admin.property.delete', {id: property.id}) }}" style="display: inline-block" onsubmit="return confirm('Étes vous vraiment sûr de supprimer ce bien?')"> 
                            <input name="_method" type="hidden" value="DELETE">
                            <input name="_token" type="hidden" value="{{ csrf_token('delete' ~ property.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td scope="row"></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a class="btn btn-primary" href="{{ path('admin.property.new') }}" role="button">Créer un nouveau bien</a>
        </div>
    </div>
{% endblock %}
